/* MAIN CONTENT SEPARATOR */
.dashboard__structure {
    display: flex;
    flex-direction: row;
    ;
}

.dashboard__content {
    width: 100%;
    padding: 30px 30px 0px 30px;
}

.dashboard-background {
    background-color: var(--background);
}

/* SIDEBAR SECTION */
/* #region */
.sidebar__container {
    background-color: var(--backgroundContrastGrey);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px;
    gap: 30px;
    position: sticky;
    top: 0;
    transition: transform 0.3s ease;
}

.sidebar__container.open {
    transform: translateX(0);
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .sidebar__container {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        z-index: 1000;
    }

    .sidebar__container.open {
        transform: translateX(0);
    }


}

/* #endregion */

