/* MAIN CONTENT SEPARATOR */
.dashboard__structure {
    display: flex;
    flex-direction: row;
    ;
}

.dashboard__content {
    width: 100%;
    padding: 30px 30px 0px 30px;
}

.dashboard-background {
    background-color: var(--background);
}

/* SIDEBAR SECTION */
/* #region */
.sidebar__container {
    background-color: var(--backgroundContrastGrey);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px;
    gap: 30px;
    position: sticky;
    top: 0;
    transition: transform 0.3s ease;
}

.sidebar__container.open {
    transform: translateX(0);
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Logout Button */
.sidebar__logout{
  background-color: var(--backgroundContrastGreen);
  border: none;
  padding: 10px 8px 12px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--text);
  font-family: 'Inter', system-ui;
  font-size: clamp(18px, 2vw, 20px); /* Scales between 18px and 20px based on viewport width */
  font-weight: 350;
  margin-top: 0px;
}    

.sidebar__simulation-data{
  color: var(--text);
  font-family: 'Inter', system-ui;
  font-size: clamp(16px, 2vw, 18px);
  flex-direction: column;
  align-items: left; /* Centers text */
  justify-content: flex-end; /* Pushes it to the bottom */
  margin-top: auto; /* Ensures it's at the bottom */
}


/* #endregion */

.menu-button {
  display: none;
  background: none;
  border: none;
  color: white; /* Make the button white */
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px; /* Align to the left */
  z-index: 1001;
}

.overlay {
  display: none;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .sidebar__container {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 1000;
  }

  .sidebar__container.open {
    transform: translateX(0);
  }

  .sidebar__container.open + .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}

