.error-message {
    color: var(--infoRed); /* Use the infoRed color for error messages */
    font-size: 16px; /* Set the font size */
    margin-top: 10px; /* Add some margin at the top */
}

.DevicePages-background {
    background-color: var(--background);
}

.device-section {
    margin-bottom: 40px; /* Add margin to separate sections */
    padding-left: 20px; /* Adjust padding to align with the grid */
    flex: 1;
}

.device-title {
    margin-top: 10px;
    text-align: left;
    font-size: 32px;
    color: white;
    padding: 1em 0 0em 1em; /* Adjust padding to align with the grid */
}

.device-box {
    width: 200px; /* Decrease the width */
    height: 220px; /* Decrease the height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px; /* Remove margin */
    transition: background-color 0.4s;
    border-radius: 15px;
}

.device-box-on {
    background-color: rgb(42, 69, 110);
}

.device-box-off {
    background-color: rgba(129, 6, 6, 0.644);
}

.device-box img {
    max-width: 100%;
    max-height: 100%;
}

.device-box p {
    margin-top: 10px;
    text-align: center;
    font-size: 24px; /* Decrease the font size */
    color: white;
}

.schedule-title {
    font-size: 24px; /* Set the font size for the title */
    color: white;
}

.slider-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.slider-label {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.slider-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px;
}

.slider-span::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slider-input:checked + .slider-span {
    background-color: green;
}

.slider-input:not(:checked) + .slider-span {
    background-color: red;
}

.slider-input:checked + .slider-span::before {
    transform: translateX(26px);
}

.slider-input:not(:checked) + .slider-span::before {
    transform: translateX(0);
}

.settings-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.settings-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.settings-link:hover {
    text-decoration: underline;
}

.device-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the min-width if needed */
    gap: 10px; /* Reduce the gap between the boxes */
    padding: 20px;
    margin-top: 20px; /* Add margin-top to create space under the title */
}

.add-device-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--backgroundContrastGrey);
    order: 1; /* Ensure this box is always last */
}

.add-device-button {
    padding: 0;
    border: none;
    background: none; /* Remove background */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-device-button:hover {
    background: none; /* Ensure no background on hover */
}

.plus-icon {
    width: 24px;
    height: 24px;
}

.add-device-text {
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

.device-select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.add-device-box .device-input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.confirm-add-device-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.confirm-add-device-button:hover {
    background-color: var(--secondary);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--background); 
    padding: 0px;
    border-radius: 10px;
    height: 50em;
    width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; /* Ensure text is readable on the dark background */
}

.modal-header {
    width: 100%;
    background-color: var(--backgroundContrastBlue);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    padding: 2em 1em 2em 1em; /* Adjust padding as needed */
    margin-bottom: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative; /* Add position relative to position the close button */
}

.modal-header h2 {
    margin: 0;
    color: white;
    font-size: 32px;
}

.close-modal-button {
    position: absolute; /* Position the close button absolutely */
    right: 10px; /* Adjust the position as needed */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white; /* Ensure the close button is visible */
}

.device-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create a 2 by 2 grid */
    gap: 20px; /* Increase gap between buttons */
    margin: 0px 30px 30px 30px; /* Increase margin-bottom */
    width: 100%; /* Make the container take full width */
    height: 100%; /* Make the container take full height */
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.device-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    width: 100%; /* Make the button take full width of the grid cell */
    height: 100%; /* Make the button take full height of the grid cell */
    border-radius: 10px; /* Increase border-radius */
    border: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    text-align: center; /* Center the text */
    font-size: 20px; /* Increase font size */
    flex-direction: column; /* Arrange content vertically */
}

.device-button-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
}

.device-settings-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.device-button-settings:hover {
    background-color: var(--secondary);
}

.device-button-settings.selected {
    background-color: var(--mutedText);
}

.device-button:hover {
    background-color: var(--secondary);
}

.device-button.selected {
    background-color: var(--mutedText); /* Change color for selected button */
}

.device-button-image {
    width: 40px; /* Increase image size */
    height: 40px; /* Increase image size */
    margin-bottom: 10px; /* Add margin below the image */
}

.device-input {
    width: 95%; /* Make input full width */
    padding: 15px; /* Increase padding */
    border-radius: 10px; /* Increase border-radius */
    border: 1px solid #ccc;
    font-size: 18px; /* Increase font size */
    margin-bottom: 10px; /* Increase margin-bottom */
    margin-top: 10px; /* Increase margin-top */
}

.confirm-add-device-button {
    padding: 15px 30px; /* Increase padding */
    border-radius: 10px; /* Increase border-radius */
    border: none;
    background-color: var(--infoGreen); /* Make the button green */
    color: white;
    cursor: pointer;
    font-size: 20px; /* Increase font size */
    flex-direction: column; /* Arrange content vertically */
}

.confirm-add-device-button:hover {
    background-color: var(--secondary);
}

/* Adjust the layout to accommodate the sidebar */
.devices-page {
    display: flex;
    flex-direction: row; /* Ensure the sidebar is on the left and main content is on the right */
}

.main-content {
    flex: 1; /* Take up the remaining space */
    display: flex;
    flex-direction: column; /* Stack the sections vertically */
}

