/* ENERGYTRACKER SECTION */
/* #region */

.et-background {
    background-color: var(--background);
    justify-content: space-between;
    min-height: 120vh;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }
  .et__main {
    min-height: 120vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: flex-start;
  }
  
  .et_title {
    font-family: 'Inter', system-ui;
    font-weight: 500; 
    color: var(--text);
    float: left;
  }
  
  .et__graph__container {
    height: 95vh;
    width: 82vw;
    display: flex;
    left: 50%;
  
  }
  
  .et__teu_graph__container {
    width: 80vw;  /* 80% of the viewport width */
    max-width: 1100px; /* Prevents it from being too wide on large screens */
    height: 70vh; /* Adjust height to leave space around it */
    max-height: 750px; /* Prevents it from taking up too much vertical space */
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #1e273d; 
    color: white;
    border-radius: 12px; /* Rounded edges */
    border: 5px solid #1a1a2a   ; /* Subtle border to separate from background */
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: calc(50% + 100px); /* Shifted slightly to the right */
    transform: translate(-50%, -50%);
    font-family: 'Inter', system-ui;
    font-size: clamp(14px, 3vw, 16px); 
  }
  
  .et__teu_graph__container h1 {
    font-family: 'Afacad', system-ui;
    text-align: center;
    color: var(--text);
    font-size: clamp(40px, 4vw, 24px); /* Scales between 16px and 64px based on viewport width */
  }
  
  .et__teg_graph__container {
    display: none;
    margin: 2rem;
    padding: 10px;
    border-radius: 10px;
    height: 50vh;
    width: 500px;
    background-color: var(--backgroundContrastGreen);
  }
  
  .et__teg_graph__container h1{
    font-family: 'Afacad', system-ui;
    text-align: center;
    color: var(--text);
    font-size: clamp(70px, 4vw, 100px); /* Scales between 16px and 64px based on viewport width */
  }

  .et_graph {
    display: flex;
    height: 50%;
    width: 100%;
  }

  .et_button_container {
    display: flex;
    justify-content: space-between;
    width: 80%;

  }


  .et_button {
    margin: 5px;
    color: var(--text);
    font-family: 'Afacad', system-ui;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: var(--background);
    font-size: 30px;
  }

  .et_button:hover {
    background-color: var(--backgroundContrastGreen);
  }

  .et_graph_selector {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 1000px;
    top: 90%;
    left: 50%;
    width: 40vw;
    transform: translate(-50%, -50%);
    left: calc(50% + 100px); /* Shifted slightly to the right */
    max-height: 200px; /* Prevents it from taking up too much vertical space */
    overflow-y: auto; /* Enables scrolling */
  }

  .et_graph_selector::-webkit-scrollbar {
    width: 7px; /* Thin scrollbar */
  }
  
  /* Remove the arrows */
  .et_graph_selector::-webkit-scrollbar-button {
    display: none;
  }
  
  .et_graph_selector::-webkit-scrollbar-track {
    background: #2C2F36;
    border-radius: 10px;
  }
  
  .et_graph_selector::-webkit-scrollbar-thumb {
    background: #bdc3e0;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
  }
  
  .et_graph_selector::-webkit-scrollbar-thumb:hover {
    background: #a1a7c1;
  }

  
  
  /* #endregion */
  