/* Apply inline-block on all elements and sub elements unless specified otherwise */
/* #region */
html {
  box-sizing: border-box;
  /* Might replace with JS later */
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* #endregion */


/* --------------- COLORS --------------- */
/* #region */
:root {
  --background: #1A1A2A;
  --primary: #356F9E;
  --secondary: #37309A;
  --accent: #A5B4F8;
  --text: #DAD6F8;
  --mutedText: #7781B5;
  --backgroundContrastGrey: #242435;
  --backgroundContrastBlue: #201F41;
  --backgroundContrastGreen: #1F2B41;
  --backgroundContrastred: #411F1F;
  --white: #FFFFFF;
  --infoRed: #BE4646;
  --infoGreen: #46BE5C;
}
/* #endregion */


/* --------------- FONTS --------------- */
/* #region */
.title {
  font-family: 'Inter', system-ui;
  font-size: clamp(32px, 6vw, 64px); /* Scales between 32px and 64px based on viewport width */
  font-weight: 500; 
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: 'Afacad', system-ui;
  font-size: clamp(16px, 4vw, 24px); /* Scales between 16px and 64px based on viewport width */
  margin: 0;
  padding: 0;
}

.button {
  font-family: 'Afacad', system-ui;
  font-size: clamp(16px, 3.5vw, 25px); /* Scales between 16px and 64px based on viewport width */
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Roboto', system-ui;
  font-size: clamp(15px, 3vw, 18px); /* Scales between 15px and 18px based on viewport width */
  margin: 0;
  padding: 0;
}

.login__heading {
  font-family: 'Inter', system-ui;
  font-size: clamp(27px, 5vw, 30px); /* Scales between 27px and 30px based on viewport width */
  font-weight: 600; 
  margin: 0;
  padding: 0;
  color: var(--text);
}
/* #endregion */


/* --------------- GENERAL STYLES --------------- */
/* #region */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  overflow: hidden;
  padding: 50px 0px;
}

.container {
  width: 90%;
  max-width: 1296px;
  margin: 0 auto;
}
/* #endregion */


/* ----------------------------------------------- */
/* --------------- SPECIFIC STYLES --------------- */
/* ----------------------------------------------- */
/* #region */

/* NAVBAR SECTION */
/* #region */
.homepage__navbar {
  background-color: var(--backgroundContrastGrey);
  width: 100%;
  max-height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage__navbar__container {
  padding: 14px;
  width: 98vw;
  max-width: 1500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 134px;
  height: 67px;
}
/* #endregion */

/* HERO SECTION */
/* #region */
.hero-background {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.hero__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1165px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.hero__title {
  color: var(--white);
}

.hero__subtitle {
  color: var(--mutedText);
}


.hero__button__container {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 30px;
  max-width: 280px;
}

.hero__button {
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 15px;
}

.hero__button__alt {
  background-color: var(--secondary);
}
/* #endregion */

/* LOGIN SECTION */
/* #region */
.login-background {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.login__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 360px;
  max-height: 500px;
  height: 100%;
  background-color: var(--backgroundContrastBlue);
  padding: 30px;
  margin: 50px;
  border-radius: 10px;
}

.login__structure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login__logo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-height: 190px;
  height: 100%;
}

.login__form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-height: 211px;
  height: 100%;
  width: 100%;
}

#register__container__override {
  max-height: 665px;
  height: 100%;
}

#register__form__override {
  max-height: 372px;
}

.login__input {
  background-color: var(--background);
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  color: var(--mutedText);
  font-family: 'Inter', system-ui;
  font-size: clamp(14px, 3vw, 16px); /* Scales between 14px and 16px based on viewport width */
}

.login__input::placeholder {
  color: var(--mutedText);
  font-family: 'Inter', system-ui;
  font-size: clamp(14px, 3vw, 16px); /* Scales between 14px and 16px based on viewport width */
  margin: 0;
  padding: 0;
}

.login__input__grouping {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 7px;
}

.login__extra__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 280px;
}

.login__checkbox {
  appearance: none; /* Hide the default checkbox */
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute; /* Position it absolutely within the label */
}

.login__checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--mutedText);
  font-family: 'Inter', system-ui;
  font-size: clamp(8px, 2.5vw, 10px); /* Scales between 8px and 10px based on viewport width */
  font-style: italic;
  margin: 0;
  padding: 0;
}

.login__checkbox__custom {
  width: 10px;
  height: 10px;
  border: solid 1px;
  border-color: var(--mutedText);
  background-color: var(--mutedText);
  margin-right: 7px; /* Space between the custom checkbox and the text */
  border-radius: 2px;
  display: inline-block;
  position: relative;
}

.login__checkbox:checked + .login__checkbox__custom::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.login__forgot__password {
  color: var(--accent);
  font-family: 'Inter', system-ui;
  font-size: clamp(8px, 2.5vw, 10px); /* Scales between 8px and 10px based on viewport width */
  font-style: italic;
  text-decoration: none;
}

.login__submit__grouping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  width: 100%;
}

.login__button {
  color: var(--text);
  background-color: var(--primary);
  font-family: 'Inter', system-ui;
  font-size: clamp(16px, 3.5vw, 18px); /* Scales between 16px and 18px based on viewport width */
  font-weight: 500; 
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.login__submit__grouping p {
  color: var(--mutedText);
  font-family: 'Inter', system-ui;
  font-size: clamp(9px, 2.5vw, 11px); /* Scales between 9px and 11px based on viewport width */
  margin: 0;
  padding: 0;
}

.login__submit__grouping p a {
  color: var(--secondary);
  font-family: 'Inter', system-ui;
  font-size: clamp(9px, 2.5vw, 11px); /* Scales between 9px and 11px based on viewport width */
  font-weight: 600;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.login__submit__grouping .error__message {
  color: var(--infoRed);
}
/* #endregion */

/* DevicePages */
/* #region */

.DevicePages-background {
  background-color: var(--background);
}

.device-title {
  margin-top: 10px;
  text-align: left;
  font-size: 32px;
  color: white;
  padding: 1em 2em 1em 1em;
}

.device-box {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 20px 20px;
  transition: background-color 0.4s;
  border-radius: 15px;
}

.device-box-on {
  background-color: rgb(42, 69, 110);
}

.device-box-off {
  background-color: rgba(129, 6, 6, 0.644);
}

.device-box img {
  max-width: 100%;
  max-height: 100%;
}

.device-box p {
  margin-top: 10px;
  text-align: center;
  font-size: 32px;
  color: white;
}

.slider-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.slider-label {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.slider-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 34px;
}

.slider-span::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.slider-input:checked + .slider-span {
  background-color: green;
}

.slider-input:not(:checked) + .slider-span {
  background-color: red;
}

.slider-input:checked + .slider-span::before {
  transform: translateX(26px);
}

.slider-input:not(:checked) + .slider-span::before {
  transform: translateX(0);
}

.settings-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.settings-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.settings-link:hover {
  text-decoration: underline;
}

.device-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px; /* Add margin-top to create space under the title */
}

.add-device-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--backgroundContrastGrey);
  order: 1; /* Ensure this box is always last */
}

.add-device-button {
  padding: 0;
  border: none;
  background: none; /* Remove background */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-device-button:hover {
  background: none; /* Ensure no background on hover */
}

.plus-icon {
  width: 24px;
  height: 24px;
}

.add-device-text {
  margin-top: 5px;
  font-size: 14px;
  color: white;
}

.device-select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.add-device-box .device-input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.confirm-add-device-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.confirm-add-device-button:hover {
  background-color: var(--secondary);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 40px; /* Increase padding for more space inside the modal */
  border-radius: 10px;
  height: 50em;
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.devices-page {
  padding: 20px;
}

.device-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create a 2 by 2 grid */
  gap: 20px; /* Increase gap between buttons */
  margin-bottom: 20px; /* Increase margin-bottom */
}

.device-button {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content */
  width: 150px; /* Set width */
  height: 150px; /* Set height to make it square */
  border-radius: 10px; /* Increase border-radius */
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  text-align: center; /* Center the text */
  font-size: 20px; /* Increase font size */
  flex-direction: column; /* Arrange content vertically */
}

.device-button:hover {
  background-color: var(--secondary);
}

.device-button-image {
  width: 40px; /* Increase image size */
  height: 40px; /* Increase image size */
  margin-bottom: 10px; /* Add margin below the image */
}

.device-input {
  width: 100%; /* Make input full width */
  padding: 15px; /* Increase padding */
  border-radius: 10px; /* Increase border-radius */
  border: 1px solid #ccc;
  font-size: 18px; /* Increase font size */
  margin-bottom: 20px; /* Increase margin-bottom */
}

.confirm-add-device-button {
  padding: 15px 30px; /* Increase padding */
  border-radius: 10px; /* Increase border-radius */
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  font-size: 18px; /* Increase font size */
}

.confirm-add-device-button:hover {
  background-color: var(--secondary);
}

/* #endregion */

/* ----------------------------------------------- */
/* ---------------- MEDIA QUERIES ---------------- */
/* ----------------------------------------------- */
/* #region */

/* HERO MEDIA QUERIES */
/* #region */
@media (max-width: 850px) {
  .hero-background {
    overflow-y: scroll;
  }

  .hero__container {
    flex-direction: column; /* Stack text on top of the image */
    align-items: center; /* Center align in column layout */
    gap: 30px; /* Add spacing between stacked sections */
    padding-top: 8vh;
    padding-bottom: 8vh;
  }

  .hero__content {
    max-width: 100%; /* Allow text to take full width */
    text-align: center; /* Center align text for better aesthetics */
    justify-content: center;
    align-items: center;
  }

  .hero__image img {
    max-width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .hero__button__container {
    justify-content: center;
  }
}
/* #endregion */

/* #endregion */